
body {
    display: flex;
    background-color:indigo;
    color:aliceblue;
}

div {
    font-family: 'Amiri', serif;
    margin: auto;
   
}

.subtitle {
    font-style: italic;
        }
 p {
    font-size:large;
 }